# 1. Load the ratings by user information that you collected into a pandas dataframe.

In [1]:
import pandas as pd

In [14]:
moviesData = pd.read_csv('https://raw.githubusercontent.com/Trishita-Nath/repo/master/week7/movies.csv')
moviesData

,Person,Mission Impossible,Black Panther,The Nun,First Purge,Skyscrapper,Hurricane Heist
0,Erwin,4.0,3.0,NaN,4.0,5.0,NaN
1,Debbie,3.0,NaN,4.0,5.0,4.0,NaN
2,Mike,NaN,3.0,2.0,1.0,3.0,5.0
3,Joe,3.0,3.0,5.0,5.0,NaN,1.0
4,Chris,NaN,4.0,5.0,NaN,2.0,1.0

# 2. Show the average ratings for each user and each movie.

In [15]:
moviesData = moviesData.set_index('Person')
userAvearge = moviesData.mean(axis=1)
userAvearge

Person
Erwin     4.0
Debbie    4.0
Mike      2.8
Joe       3.4
Chris     3.0
dtype: float64

In [16]:
movieAverage = moviesData.mean()
movieAverage

Mission Impossible    3.333333
Black Panther         3.250000
The Nun               4.000000
First Purge           3.750000
Skyscrapper           3.500000
Hurricane Heist       2.333333
dtype: float64

# 3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.

## Dataframe has to be transformed such that movies are on the each row

In [23]:
moviesData2 = moviesData.T
moviesDataNormal = (moviesData2 - moviesData2.min()) / (moviesData2.max() - moviesData2.min())
moviesDataNormal

,Mission Impossible,Black Panther,The Nun,First Purge,Skyscrapper,Hurricane Heist
Person,,,,,,
Erwin,1.0,0.0,NaN,0.75,1.000000,NaN
Debbie,0.0,NaN,0.666667,1.00,0.666667,NaN
Mike,NaN,0.0,0.000000,0.00,0.333333,1.0
Joe,0.0,0.0,1.000000,1.00,NaN,0.0
Chris,NaN,1.0,1.000000,NaN,0.000000,0.0

# Average ratings of each Movie

In [24]:
moviesDataNormal.mean()

Mission Impossible    0.333333
Black Panther         0.250000
The Nun               0.666667
First Purge           0.687500
Skyscrapper           0.500000
Hurricane Heist       0.333333
dtype: float64

 ## Average ratings of each User

In [25]:
moviesDataNormal.mean(axis=1)

Person
Erwin     0.687500
Debbie    0.583333
Mike      0.266667
Joe       0.400000
Chris     0.500000
dtype: float64

# 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

Actual ratings are easy to understand compared to normalized ratings. Normalized ratings are only helpful when users are giving scores very high or very low. Normalizing will help to get actual weight of the scores.

# 5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [26]:
moviesDataNormal2 = (moviesDataNormal - moviesDataNormal.mean()) / (moviesDataNormal.std())
moviesDataNormal2

,Mission Impossible,Black Panther,The Nun,First Purge,Skyscrapper,Hurricane Heist
Person,,,,,,
Erwin,1.154701,-0.5,NaN,0.132068,1.161895,NaN
Debbie,-0.577350,NaN,0.000000,0.660338,0.387298,NaN
Mike,NaN,-0.5,-1.414214,-1.452744,-0.387298,1.154701
Joe,-0.577350,-0.5,0.707107,0.660338,NaN,-0.577350
Chris,NaN,1.5,0.707107,NaN,-1.161895,-0.577350

 Average ratings of each Movie

In [27]:
moviesDataNormal2.mean()

Mission Impossible    7.401487e-17
Black Panther         0.000000e+00
The Nun               5.551115e-17
First Purge          -5.551115e-17
Skyscrapper           5.551115e-17
Hurricane Heist       7.401487e-17
dtype: float64

 Average ratings of each User

In [28]:
moviesDataNormal2.mean(axis=1)

Person
Erwin     0.487166
Debbie    0.117572
Mike     -0.519911
Joe      -0.057451
Chris     0.116965
dtype: float64