In [5]:
import  pandas as pd
import sqlite3

In [8]:
with sqlite3.connect("/Users/Raghu/Downloads/Chinook_Sqlite.sqlite") as con:
    sql ='''SELECT c.LastName, c.FirstName, t.Name, a.Title FROM Customer as c 
        LEFT JOIN Invoice as i
        ON c.CustomerId = i.CuStomerId
        LEFT JOIN InvoiceLine as il
        ON i.InvoiceId = il.InvoiceId
        LEFT JOIN Track as t
        ON il.TrackID = t.TrackId
        LEFT JOIN Album as A
        ON t.AlbumID = a.AlbumId
        ORDER BY c.LastName, c.FirstName'''
    
df = pd.read_sql_query(sql, con)
df.head(5)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas